.AboutFlex {
    display: flex;
    flex-direction: row;
}

.AboutTitle {
    text-align: center;
    font-size: 72px;
}

.CardTitle {
    font-size: 32px;
}

.CardText {
    font-size: 20px;
}

.AboutFlexLeft {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 20vw);
    justify-content: center;
    margin: 30px;
    height: calc(100vh - 300px);
    overflow-y: auto;
}

.Card {
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    user-select: none;
    transition-duration: 0.2s;
    word-wrap:break-word;
}

.SelectedCard {
    background-color: rgba(255, 255, 255, 0.2);
}

.CardImgs > * {
    background-color:transparent;
}

.AboutFlexRight {
    transition-duration: 0.5s;
}