* {
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #ffffff;
    font-family: "Roboto";
}

body {
    width: 100%;
    overflow: hidden;
}

button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px 40px 10px 40px; /*TOP RIGHT BOTTOM LEFT*/
    font-size: 16px;
}

button:hover {
    background-color: #dddddd;
}

button:active {
    background-color: #bbbbbb;
}

.Layout {
    height: calc(100vh - 40px);
    width: 100vw;
}

.LayoutContainer {
    width: 100vw;
    height: calc(100vh - 40px);
    display: grid;
    grid-template-columns: repeat(3, 100vw);
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

.LayoutElement {
    scroll-snap-align: start;
    width: 100vw;
    height: calc(100vh - 40px); /* Window height - footer*/
}

.BackButton {
    margin: 20px;
}