.ProjectPageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProjectFlexContainer {
    display: flex;
    flex-direction: row;
}

.ProjectFlexLeft {
    margin: 30px;
    width: calc(50vw - 60px);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 250px);
    overflow-y: auto;
}

.ProjectDescription {
    white-space: pre-line;
    margin-bottom: 20px;
}

.ProjectTechnologies {
    list-style-type: circle;
    list-style-position: inside;
}

.ProjectButtonsDiv {
    display: flex;
    margin-top: auto;
    flex-direction: row;
}

.ProjectButtonsDiv > button {
    margin-top: 10px;
    flex-grow: 1;
}

.ProjectButtonsDiv > #button1 {
    margin-right: 10px;
}