.Project {

}

.ProjectPageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProjectTitle {
    font-size: 72px;
}

.ProjectFlexContainer {
    display: flex;
    flex-direction: row;
}

.ProjectFlexLeft {
    margin: 30px;
    width: calc(50vw - 60px);
}

.ProjectDescriptionTitle {
    font-size: 32px;
}

.ProjectDescription {
    font-size: 20px;
    white-space: pre-line;
}

.ProjectTechnologies {
    list-style-type: circle;
    list-style-position: inside;
}

.ProjectTechnologies > li {
    font-size: 20px;
}

.ProjectButtonsDiv {
    display: flex;
    flex-direction: row;
}

.ProjectButtonsDiv > button {
    margin-top: 10px;
    flex-grow: 1;
}

.ProjectButtonsDiv > #button1 {
    margin-right: 10px;
}

.ProjectFlexRight {
    width: 50vw;
    display: flex;
    flex-direction: row;
}

.ProjectFlexRight > button {
    padding: 0;
    width: 40px;
    height: 40px;
    align-self: center;
}

.ProjectImgsContainer {
    width: calc(50vw - 100px);
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.ProjectImgContainer {
    min-width: calc(50vw - 100px);
    min-height: calc(100vh - 220px);
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProjectImgContainer > img, .ProjectImgContainer > video {
    max-width: calc(50vw - 120px);
    max-height: calc(100vh - 240px);
    padding: 20px;
}