.Welcome {
    text-align: center;
}

.Welcome > h1 {
    margin-top: 10vh;
    font-size: 144px;
}

.FlagContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Flag {
    padding: 20px;
    font-size: 30vh;
    line-height: 25vh;
    user-select: none;
}