.Welcome {
    text-align: center;
}

.WelcomeTitleContainer {
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}

.WelcomeTitle {
    min-width: 100vw;
    scroll-snap-align: start;
}

.FlagContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Flag {
    height: 10vh;
    padding: 5vh 10px 5vh 10px;
    opacity: 0.5;
    transition-duration: 0.5s;
}

.SelectedFlag {
    padding: 0 10px 0 10px;
    opacity: 1;
    height: 20vh;
}