.Welcome {
    text-align: center;
}

.WelcomeTitleContainer {
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}

.WelcomeTitle {
    min-width: 100vw;
    font-size: 72px;
    scroll-snap-align: start;
}

.FlagContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Flag {
    padding: 15px;
    font-size: 10vh;
    line-height: 15vh;
    user-select: none;
    color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.5s;
}

.SelectedFlag {
    color: rgba(0,0,0,1);
    font-size: 15vh;
}